.header {
  height: 70px;
  background: #090b13;
  display: flex;
  align-items: center;
  padding: 0 36px;
  overflow-x: hidden;
}

.logo {
  width: 80px;
}

.nav {
  flex: 1;
  display: flex;
  margin-left: 30px;
  align-items: center;
}

.nav a {
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  color: white;
  text-underline-offset: ;
}

.nav img {
  height: 20px;
}
.nav span {
  font-size: 13px;
  letter-spacing: 1.42px;
  position: relative;
  color: white;
}

span::after {
  content: "";
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  opacity: 0;
  transition: all 250ms cubic-beizer(0.25, 0.46, 0.45, 0.94) 0s;
  transform-origin: left center;
  transform: scaleX(0);
}

a:hover span::after {
  transform: scaleX(1);
  opacity: 1;
}

a:link {
  text-decoration: none;
}

.UserImg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
